.futer {
    background-color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }
  
  .p-footer, .tituloNav {
    font-family: "Varela Round", sans-serif;
    color: rgb(248, 95, 126);
    font-weight: bolder;
    margin: 0;
  }