/***************************GRID CONTAINER PUBLICACIONES*****************/
.gridContainerPublicaciones {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 0.7fr 1fr;  
    grid-template-areas: 
    "img3 textoC"
    "textoD img4";
    justify-items: center;
    align-items: center;
    width: 100vw;

}

.img-publicacion1 {
    grid-area:img3;
}

.img-publicacion2 {
    grid-area:img4;
}

.publicacion1 {
    grid-area:textoC;
    align-self: center;
    margin-right: 40px;
}

.publicacion2 {
    grid-area:textoD;
    align-self: left;
    margin-left: 80px;

}