    /*****************HEADERS / PARRAFOS / TITULO SECCIONES / BARRA DE DIVISION********************/
    $fuente-header:'Varela Round', sans-serif;
    $fuente-publicaciones-nav: 'Didact Gothic', sans-serif;
    $fuente-nav: 'Quicksand', sans-serif;
    $fuente-publicaciones: 'Hind', sans-serif;


    /*******************************COLORES FUENTES**********************/
    $color-h1: rgb(243, 139, 160);
    $color-h2: rgb(34, 129, 138);
    /*******************************COLORES NAV**********************/
    $color-nav: rgb(255, 255, 255);
    $color-links-nav:  rgb(243, 139, 160);
    
    /*******************************FUENTES**********************/
    $fuente-header:'Varela Round', sans-serif;
    $fuente-publicaciones-nav: 'Didact Gothic', sans-serif;
    $fuente-nav: 'Quicksand', sans-serif;
    $fuente-publicaciones: 'Hind', sans-serif;


    /*******************************COLORES FUENTES**********************/
    $color-h1: rgb(243, 139, 160);
    $color-h2: rgb(34, 129, 138);
    /*******************************COLORES NAV**********************/
    $color-nav: rgb(255, 255, 255);
    $color-links-nav:  rgb(243, 139, 160);
    /*******************************COLORES HOVER**********************/
    $color-links-nav-hover:  rgb(248, 95, 126);

    /*******************************COLORES BACKGROUND**********************/
    $colorBackgroundLogo:  rgb(244, 236, 240);
    $colorBackgroundSecciones: rgb(255, 255, 255);
    /*******************************COLORES FONT-AWESOME**********************/
    $colorFontawesomeInstagram: #0077b5;
    $colorFontawesomeFacebook:#3b5998;
    $colorFontawesomeLinkedin: #045881;
    $colorArrowToTop: rgb(216, 110, 110);
    $colorFormulario: rgba(233, 166, 166, .5);

@mixin ColoresFuente ($color)  {
    color: $color;
}

@mixin ColoresBackground ($color) {
    background-color: $color;
}

@mixin Fuentes ($fuente) {
    font-family: $fuente;
}

@mixin TamañoFuente ($f-size) {
    font-size: $f-size;
}

$h1-weight: (
        font-weight: bolder
);

h1 {
    @include ColoresFuente($color-h1);
    @include Fuentes($fuente-header);
    @include TamañoFuente (150px);
    margin-top: 100px;
    text-align: center;
    padding: 400px;
    content: map-get($h1-weight, font-weight);
    & a:hover {
            transition: 0.5s;
            @include ColoresFuente($color-links-nav);      
    }
}

h2 {
    @include Fuentes($fuente-header);
    @include ColoresFuente($color-h2);
    @include TamañoFuente (45px);
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 50px;
}

h3 {
    @include Fuentes($fuente-publicaciones-nav);
    @include ColoresFuente($color-h1);
    @include TamañoFuente (40px);
    vertical-align: middle;
    text-decoration: inherit;
}



p {
    @include Fuentes($fuente-publicaciones);
    @include TamañoFuente (20px);
    overflow: hidden;
}

p {
    &.colorForm {
       @include ColoresFuente($color-h2);
    }

    &.Redes {
        @include ColoresFuente($color-h2);
    }
}

.tituloSecciones {
    @include Fuentes($fuente-header);
    @include ColoresFuente($color-h1);
    @include ColoresBackground ($colorBackgroundSecciones);
    @include TamañoFuente (45px);
    font-weight: bold;
    text-align: center ;
}


.footerÊtre {
    @include ColoresFuente($color-links-nav);
    @include TamañoFuente (30px);

}

