/****************MEDIA QUERY****************/

@mixin ColoresFuente ($color)  {
    color: $color;
}

@mixin ColoresBackground ($color) {
    background-color: $color;
}

@mixin Fuentes ($fuente) {
    font-family: $fuente;
}

@mixin TamañoFuente ($f-size) {
    font-size: $f-size;
}


@media (max-width: 1024px) { /*iPad PRO*/

    .gridContainerSobremi,
    .gridContainerPublicaciones,
    .gridContainerRedes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gridContainerPublicaciones {
        margin: 0 50px;
    }

    
    a  {@include TamañoFuente (20px);}
    h1, .tituloSecciones {@include TamañoFuente (30px);}
    h2 {@include TamañoFuente (25px);}
    h3 {@include TamañoFuente (25px);}
    p {@include TamañoFuente (15px);}
    
    .imgSobreMi_1 {
        margin-bottom: 20px;
    }
    
    .fab, .fa { /*Iconos Contacto, Facebook, IG y Linkedin*/
        @include TamañoFuente (50px);
    }

    .fas, .fa {
        @include TamañoFuente (35px); /*Boton al top*/
    }

    .ml {
        margin-top: 30px;
        margin-left: 40px;
    }

    .mr {
        margin-bottom: 20px;
        margin-right: 40px;
    }
}

 @media (max-width: 768px) {

    h1, .tituloSecciones {@include TamañoFuente (25px);}
    h2 {@include TamañoFuente (20px);}

    h3, 
    p, 
    a {@include TamañoFuente (15px);}

    .gridContainerSobremi,
    .gridContainerPublicaciones,
    .gridContainerRedes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: normal;
    }
    .ocultar {
        display: none;
    }
    img {
        display: none;
      }
    

 }

@media screen and (max-width: 500px) {
    h1, .tituloSecciones {@include TamañoFuente (25px);}
    h2 {@include TamañoFuente (20px);}

    h3, 
    p, 
    a {@include TamañoFuente (15px);}

    .gridContainerSobremi,
    .gridContainerPublicaciones,
    .gridContainerRedes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: normal;
    }
    .ocultar {
        display: none;
    }
    img {
        display: none;
      }
    
}

@media screen and(max-width: 375px) { /*Telefono promedio*/
     
    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .gridContainerSobremi,
    .gridContainerPublicaciones,
    .gridContainerRedes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: normal;
    }


    h1, .tituloSecciones {@include TamañoFuente (15px);}
    h2 {@include TamañoFuente (10px);}
    h3 {@include TamañoFuente (8px);}
    p {@include TamañoFuente (6px);}

    img {display: none;}
    .ocultar{display: none;}
}
