/****************MEDIA QUERY****************/

@mixin ColoresFuente ($color)  {
    color: $color;
}

@mixin ColoresBackground ($color) {
    background-color: $color;
}

@mixin Fuentes ($fuente) {
    font-family: $fuente;
}

@mixin TamañoFuente ($f-size) {
    font-size: $f-size;
}

@media (min-width: 1024px) {
    .flex-fill {display: none;}
    #NavMobile{display: none;}
}


@media (max-width: 1024px) { /*iPad PRO*/

    .NavDesktop {
        display: none;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 30px;
    }
    
    a  {@include TamañoFuente (20px);}
    h1, .tituloSecciones {@include TamañoFuente (30px);}
    h2 {@include TamañoFuente (25px);}
    h3 {@include TamañoFuente (25px);}
    p {@include TamañoFuente (18px);}
    
    img {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    #orderA {
        order: 3;
    }
    #orderB {
        order: 4;
    }
    #orderC{
        order:2;
    }
    #orderD{
        order:1
    }
    
    .fab, .fa { /*Iconos Contacto, Facebook, IG y Linkedin*/
        @include TamañoFuente (50px);
    }

}

 @media (max-width: 768px) {

    h1, .tituloSecciones {@include TamañoFuente (25px);}
    h2 {@include TamañoFuente (24px);}

    h3, 
    p, 
    a {@include TamañoFuente (15px);}

    .d-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: normal;
        margin: 0 30px;

    }

    .responsive-icons  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 15px; 
      }

    #orderA {
        order: 3;
    }
    #orderB {
        order: 4;
    }
    #orderC{
        order:2;
    }
    #orderD{
        order:1
    }
    

 }

@media screen and (max-width: 450px) {
    h1, .tituloSecciones {@include TamañoFuente (25px);}
    h2 {@include TamañoFuente (25px);}

    h3, 
    p, 
    a {@include TamañoFuente (15px);}

    .d-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: normal;
        letter-spacing: 1px;
        margin: 0 20px;
    }

    .responsive-icons  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: normal;
        letter-spacing: 0.5px;
        margin: 0 15px; 
    }

    
}

@media screen and (max-width: 375px) {
    h1, .tituloSecciones {@include TamañoFuente (25px);}
    h2 {@include TamañoFuente (20px);}

    h3, 
    p, 
    a {@include TamañoFuente (15px);}

    .d-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: normal;
        letter-spacing: 0.5px;
        margin: 0 15px;
    }

    .responsive-icons  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: normal;
        letter-spacing: 0.5px;
        margin: 0 15px; 
      }
    
      #orderA{
        order: 3;
      }
      #orderB{
        order: 4;
      }
      #orderC{
        order:2;
      }
      #orderD{
        order:1;
      }

}
