:root {

    /*******************************FUENTES**********************/
    $fuente-header:'Varela Round', sans-serif;
    $fuente-publicaciones-nav: 'Didact Gothic', sans-serif;
    $fuente-nav: 'Quicksand', sans-serif;
    $fuente-publicaciones: 'Hind', sans-serif;


    /*******************************COLORES FUENTES**********************/
    $color-h1: rgb(243, 139, 160);
    $color-h2: rgb(34, 129, 138);
    /*******************************COLORES NAV**********************/
    $color-nav: rgb(255, 255, 255);
    $color-links-nav:  rgb(243, 139, 160);
    /*******************************COLORES HOVER**********************/
    $color-links-nav-hover:  rgb(248, 95, 126);

    /*******************************COLORES BACKGROUND**********************/
    $colorBackgroundLogo:  rgb(244, 236, 240);
    $colorBackgroundSecciones: rgb(255, 255, 255);
    /*******************************COLORES FONT-AWESOME**********************/
    $colorFontawesomeInstagram: #0077b5;
    $colorFontawesomeFacebook:#3b5998;
    $colorFontawesomeLinkedin: #045881;
    $colorArrowToTop: rgb(216, 110, 110);
    $colorFormulario: rgba(233, 166, 166, .5);
}

